body {
    margin: 0;
    background-image: url('rocks.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.hero {
    display: flex;
    flex-direction:column;
    text-align: left;
    width: 100;
    min-height: 320px;
}

.card-body {
    display: flex;
    flex-direction: row ;
    width: 50%;
    padding: 30px;
    color: rgb(255, 255, 255);
}

.marks {
    display: flex;
    flex-direction: row;
    font-size: 55px;
    padding: 15px
}

.markz {
    display: flex;
    flex-direction: row;
    font-size: 55px;
    align-items: flex-end;
    padding: 15px;
}

